{:paths ["src/main"]

 :deps  {org.clojure/spec.alpha {:mvn/version "0.3.218"}}

 :aliases
 {:test
  {:extra-paths ["src/test"]
   :extra-deps  {org.clojure/test.check     {:mvn/version "1.1.1"}
                 lambdaisland/kaocha        {:mvn/version "1.77.1236"}
                 nubank/matcher-combinators {:mvn/version "3.8.3"}}
   :main-opts   ["-m" "kaocha.runner"]}}}
