{:deps  {}

 :paths ["src/main"]

 :aliases
 {:test
  {:extra-paths ["src/test"]
   :extra-deps  {lambdaisland/kaocha        {:mvn/version "1.67.1055"}
                 nubank/matcher-combinators {:mvn/version "3.5.0"}}}}}
