#kaocha/v1
        {:tests    [{:id          :unit
                     :test-paths  ["src/test"]
                     :ns-patterns [".*-test"]}]
         :reporter kaocha.report.progress/report
         #_#_:plugins [:kaocha.plugin/profiling :kaocha.plugin/notifier]}
